<div class="row">
  <div class="column">
    <mat-table [dataSource]="images">
      <ng-container matColumnDef="image">
        <mat-cell *matCellDef="let item" class = image-cell>
          <img [src]="item.image" class = "resized-img" />
        </mat-cell>
      </ng-container>
      <mat-row *matRowDef="let item; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>

  <div class="column">
    <mat-table [dataSource]="images">
      <ng-container matColumnDef="image">
        <mat-cell *matCellDef="let item" class = image-cell>
          <img [src]="item.image" class = "resized-img" />
        </mat-cell>
      </ng-container>
      <mat-row *matRowDef="let item; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>

  <div class="column">
    <mat-table [dataSource]="images">
      <ng-container matColumnDef="image">
        <mat-cell *matCellDef="let item" class = image-cell>
          <img [src]="item.image" class = "resized-img" />
        </mat-cell>
      </ng-container>
      <mat-row *matRowDef="let item; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>

  <div class="column">
    <mat-table [dataSource]="images">
      <ng-container matColumnDef="image">
        <mat-cell *matCellDef="let item" class = image-cell>
          <img [src]="item.image" class = "resized-img" />
        </mat-cell>
      </ng-container>
      <mat-row *matRowDef="let item; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>


